.github
.dockerignore
.travis.yml
Dockerfile
chuangmi.jpg
tools/bin/*
tools/lib/*.so
tools/lib/*.o
sdcard/firmware/bin/*
sdcard/firmware/www
sdcard/logs
sdcard/log
src/*
prefix/*
tf_recovery.img
tf_recovery.img.bak
MiiCam.zip
MiiCam.zip.md5sum
MiiCam.tgz
MiiCam.tgz.md5sum
sdk/
tmp/
docs/
.idea
tf_recovery.img
*.sw[pod]
