build
prefix
src
tools/bin/*
tools/lib/*.so
tools/lib/*.o
sdcard/firmware/bin/*
sdcard/firmware/etc/os-release
sdcard/config.cfg
sdcard/manufacture.bin
sdcard/log
sdcard/firmware/www

sdk/
MiiCam.zip
MiiCam.zip.md5sum
MiiCam.tgz
MiiCam.tgz.md5sum

.idea/
.vscode
tmp/
*.sw[pod]

## Docs
docs/docs-repo
docs/deploy_key

*.py[cod]
*$py.class

# Distribution / packaging
dist/
eggs/
.eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg
