############################################################
## Wifi Settings                                          ##
############################################################

## Set WIFI STA SSID, when empty no configuration is done
WIFI_SSID=""

## Set WIFI STA password
WIFI_PASSWORD=""

############################################################
## RTSP Settings                                          ##
############################################################

## See: https://miicam.github.io/configuration/Configuring-RTSP

## Start local streaming server at system boot (0/1)
ENABLE_RTSP="1"

## The username to connect to the rtsp stream
RTSP_USER="stream"

## The password to connect to the rtsp stream
RTSP_PASSWORD="bJ2xnahtCgninraelmI"

############################################################
## Camera options                                         ##
############################################################

## Ceiling camera mode when the image is flipped and mirrored (0/1)
CEILING_MODE="0"
