enable() {
  restartctl create night-mode --then="$FIRMWARE_PATH/etc/init.d/night-mode start"
  restartctl reload

  echo "Automatic night mode is enabled."
}

disable() {
  restartctl delete night-mode
  restartctl reload
  $FIRMWARE_PATH/etc/init.d/night-mode stop

  echo "Automatic night mode is disabled."
}

status() {
  restartctl status night-mode || return $?
}
