enable() {
  ceiling-mode --enable

  echo "Ceiling mode is enabled."
}

disable() {
  ceiling-mode --disable

  echo "Ceiling mode is disabled."
}

status() {
  ceiling-mode --status || return $?
}
