enable() {
  # /mnt/data/imi/imi_init/S60miio_avstreamer
  binary enable /mnt/data/miio_av/miio_avstreamer
  restartctl enable miio_avstreamer

  # /mnt/data/imi/imi_init/S93miio_client
  binary enable /mnt/data/ot_wifi_tool/miio_client
  restartctl update miio_client --then="/mnt/data/ot_wifi_tool/miio_client -D"
  restartctl enable miio_client

  binary enable /mnt/data/ot_wifi_tool/miio_client_helper_nomqtt.sh
  restartctl enable miio_client_helper

  # /mnt/data/imi/imi_init/S93miot_devicekit
  binary enable /mnt/data/miot/miot_devicekit
  restartctl enable miot_devicekit

  # /mnt/data/imi/imi_init/S93miot_qrcode
  binary enable /mnt/data/miot/miot_qrcode.sh

  # /mnt/data/imi/imi_init/S95miio_smb
  binary enable /mnt/data/miio_smb/miio_smb
  restartctl enable miio_smb

  # cron
  binary enable /mnt/data/miot/logmi.sh

  restartctl reload

  echo "Cloud services are enabled."
}

disable() {
  # /mnt/data/imi/imi_init/S60miio_avstreamer
  binary disable /mnt/data/miio_av/miio_avstreamer
  restartctl disable miio_avstreamer

  # /mnt/data/imi/imi_init/S93miio_client
  binary disable /mnt/data/ot_wifi_tool/miio_client
  restartctl disable miio_client

  binary disable /mnt/data/ot_wifi_tool/miio_client_helper_nomqtt.sh
  restartctl disable miio_client_helper

  # /mnt/data/imi/imi_init/S93miot_devicekit
  binary disable /mnt/data/miot/miot_devicekit
  restartctl disable miot_devicekit

  # /mnt/data/imi/imi_init/S93miot_qrcode
  binary disable /mnt/data/miot/miot_qrcode.sh

  # /mnt/data/imi/imi_init/S95miio_smb
  binary disable /mnt/data/miio_smb/miio_smb
  restartctl disable miio_smb

  # cron
  binary disable /mnt/data/miot/logmi.sh

  restartctl reload

  echo "Cloud services are disabled."
}

status() {
  restartctl status miio_avstreamer || return $?
}
