enable() {
  night-mode --enable

  echo "Night mode is enabled."
}

disable() {
  night-mode --disable

  echo "Night mode is disabled."
}

status() {
  night-mode --status || return $?
}
