local pre_ota=/mnt/data/miio_ota/pre-ota.sh

enable() {
  if ! mount | grep -q $pre_ota; then
    local pre_ota_patch='for service in '$FIRMWARE_PATH'/etc/init.d/*; do $service stop; done'
    sed -e '/^\s*exit 0/i\' -e "$pre_ota_patch" $pre_ota >/tmp/pre-ota.sh
    chmod +x /tmp/pre-ota.sh
    mount --bind /tmp/pre-ota.sh $pre_ota
  fi

  # /mnt/data/imi/imi_init/S95miio_ota
  binary enable /mnt/data/miio_ota/miio_ota
  restartctl enable miio_ota
  restartctl reload

  echo "OTA is enabled."
}

disable() {
  binary disable /mnt/data/miio_ota/miio_ota
  restartctl disable miio_ota
  restartctl reload
  mount | grep -q $pre_ota && umount $pre_ota

  echo "OTA is disabled."
}

status() {
  restartctl status miio_ota || return $?
}
