enable() {
  restartctl create rtspd --then="$FIRMWARE_PATH/etc/init.d/rtsp start"
  restartctl reload

  echo "RTSP is enabled."
}

disable() {
  restartctl delete rtspd
  restartctl reload
  $FIRMWARE_PATH/etc/init.d/rtsp stop

  echo "RTSP is disabled."
}

status() {
  restartctl status rtspd || return $?
}
